<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>log in</title>
<script src="./core/js/angular.js"></script>
<script src="./core/js/jquery-1.10.1.min.js"></script>
</head>
<body>
<form action="/carlt/loginForm" method="post">
<label>user name:</label><input type="text" name="username"><br>
<label>password:</label><input type="password" name="password"><br>
<input type="submit">
</form>
<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
    User Name:<input type="text" ng-model="user.username"><br>
    Password:<input type="text" ng-model="user.pwd">
    <br><br>
    <button ng-click="login()">登录</button>
  </form>
</div>

<script>
/* $.ajax({
	url:'/carlt/loginForm',
    method: 'POST',
    contentType:'application/json;charset=UTF-8',
    data:JSON.stringify({"name":"jquery","password":"pwd"}),
    dataType:'json',
    success:function(){
    	//..
    }
}); */
//Your app's root module...
/*
 * 另一种解决方式，让anjular如同jquery一般提交数据
 var app = angular.module('myApp', [], function($httpProvider) {
  // Use x-www-form-urlencoded Content-Type
  $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';

  /**
   * The workhorse; converts an object to x-www-form-urlencoded serialization.
   * @param {Object} obj
   * @return {String}
   */ 
/*var param = function(obj) {
    var query = '', name, value, fullSubName, subName, subValue, innerObj, i;
      
    for(name in obj) {
      value = obj[name];
        
      if(value instanceof Array) {
        for(i=0; i<value.length; ++i) {
          subValue = value[i];
          fullSubName = name + '[' + i + ']';
          innerObj = {};
          innerObj[fullSubName] = subValue;
          query += param(innerObj) + '&';
        }
      }
      else if(value instanceof Object) {
        for(subName in value) {
          subValue = value[subName];
          fullSubName = name + '[' + subName + ']';
          innerObj = {};
          innerObj[fullSubName] = subValue;
          query += param(innerObj) + '&';
        }
      }
      else if(value !== undefined && value !== null)
        query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
    }
      
    return query.length ? query.substr(0, query.length - 1) : query;
  };

  // Override $http service's default transformRequest
  $httpProvider.defaults.transformRequest = [function(data) {
    return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
  }];
});*/
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope,$http) {
    $scope.login = function() {
        $http.post("/carlt/loginForm",{
        	"name":$scope.user.username,
        	"password":$scope.user.pwd
        })
        .success(function(response) {console.log(response);});
        
        /* $http({
            url:'/carlt/loginForm',
            method: 'POST',
            data: {name:'ssd',password:'333',age:1}
        }).success(function(){
        	console.log("success!");
        }).error(function(){
        	console.log("error");
        }) */
    };
});
</script>
</body>
</html>